{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<ul class="list-group">
			<li class="list-group-item"><a href="{{ path('post')}}">Posts</a></li>
			<li class="list-group-item"><a href="{{ path('comment')}}">Comments</a></li>
			<li class="list-group-item"><a href="{{ path('user')}}">Users</a></li>
		</ul>
	</div>
{% endblock %}

{% block stylesheets %}{% endblock %}
